## 6.1 Sourcing Open Data

### This script contains
### 1. Importing libraries and dataset
   ##### 1.1 Importing Libraries
   ##### 1.2 Defining Path
   ##### 1.3 Importing all datasets into a data_dictionary
   ##### 1.4 Adding column year to all datasets
   ##### 1.5 Converting data_dictionary into list of data frames
   ##### 1.6   Concatinating Dataframes
   ##### 1.7  Exporting Concatinated Dataframe
### 2. Exploring data
### 3. Data Wrangling and Consistency Checks

### Importing Libraries

In [247]:
# Importing Libraries
import pandas as pd
import numpy as np
import os
import glob

In [248]:
# Define Path
path = r'C:\Users\ankit\Desktop\DataAnalysisCF\DataImmersion\Advanced Analytics & Dashboard Design\World Happiness Analysis'

In [249]:
# Importing all the datafarmes into 'datasets' data_dictionary
file_paths = glob.glob(os.path.join(path,'02 Data','Original Data','*.csv'))
datasets = {}
for file_path in file_paths:
    file_name = file_path.split("/")[-1].replace(".csv", "")
    datasets[file_name] = pd.read_csv(file_path)

In [250]:
type(datasets)

dict

In [251]:
# Adding new column 'year' to all datasets
year = 2015
for value in datasets.values():    
    value["year"] = year
    year +=1

In [252]:
# Converting Data_dictionary into list of data frames
df_list = [pd.DataFrame(data_dict) for data_dict in datasets.values()]
for df in df_list:
    print(df, "\n")

         country                        region  happiness_score  \
0    Switzerland                Western Europe            7.587
1        Iceland                Western Europe            7.561
2        Denmark                Western Europe            7.527
3         Norway                Western Europe            7.522
4         Canada         North America and ANZ            7.427
..           ...                           ...              ...
153       Rwanda            Sub-Saharan Africa            3.465
154        Benin            Sub-Saharan Africa            3.340
155        Syria  Middle East and North Africa            3.006
156      Burundi            Sub-Saharan Africa            2.905
157         Togo            Sub-Saharan Africa            2.839

     gdp_per_capita  social_support  healthy_life_expectancy  \
0           1.39651         1.34951                  0.94143
1           1.30232         1.40223                  0.94784
2           1.32548         1.36058                  0.87464
3           1.45900         1.33095                  0.88521
4           1.32629         1.32261                  0.90563
..              ...             ...                      ...
153         0.22208         0.77370                  0.42864
154         0.28665         0.35386                  0.31910
155         0.66320         0.47489                  0.72193
156         0.01530         0.41587                  0.22396
157         0.20868         0.13995                  0.28443

     freedom_to_make_life_choices  generosity  perceptions_of_corruption  year
0                         0.66557     0.29678                    0.41978  2015
1                         0.62877     0.43630                    0.14145  2015
2                         0.64938     0.34139                    0.48357  2015
3                         0.66973     0.34699                    0.36503  2015
4                         0.63297     0.45811                    0.32957  2015
..                            ...         ...                        ...   ...
153                       0.59201     0.22628                    0.55191  2015
154                       0.48450     0.18260                    0.08010  2015
155                       0.15684     0.47179                    0.18906  2015
156                       0.11850     0.19727                    0.10062  2015
157                       0.36453     0.16681                    0.10731  2015

[158 rows x 10 columns]

         country                        region  happiness_score  \
0        Denmark                Western Europe            7.526
1    Switzerland                Western Europe            7.509
2        Iceland                Western Europe            7.501
3         Norway                Western Europe            7.498
4        Finland                Western Europe            7.413
..           ...                           ...              ...
152        Benin            Sub-Saharan Africa            3.484
153  Afghanistan                    South Asia            3.360
154         Togo            Sub-Saharan Africa            3.303
155        Syria  Middle East and North Africa            3.069
156      Burundi            Sub-Saharan Africa            2.905

     gdp_per_capita  social_support  healthy_life_expectancy  \
0           1.44178         1.16374                  0.79504
1           1.52733         1.14524                  0.86303
2           1.42666         1.18326                  0.86733
3           1.57744         1.12690                  0.79579
4           1.40598         1.13464                  0.81091
..              ...             ...                      ...
152         0.39499         0.10419                  0.21028
153         0.38227         0.11037                  0.17344
154         0.28123         0.00000                  0.24811
155         0.74719         0.14866                  0.62994
156         0.06831         0.23442                  0.15747

     freedom_to_make_life_choices  generosity  perceptions_of_corruption  year
0                         0.57941     0.36171                    0.44453  2016
1                         0.58557     0.28083                    0.41203  2016
2                         0.56624     0.47678                    0.14975  2016
3                         0.59609     0.37895                    0.35776  2016
4                         0.57104     0.25492                    0.41004  2016
..                            ...         ...                        ...   ...
152                       0.39747     0.20180                    0.06681  2016
153                       0.16430     0.31268                    0.07112  2016
154                       0.34678     0.17517                    0.11587  2016
155                       0.06912     0.48397                    0.17233  2016
156                       0.04320     0.20290                    0.09419  2016

[157 rows x 10 columns]

                      country                        region  happiness_score  \
0                      Norway                Western Europe            7.537
1                     Denmark                Western Europe            7.522
2                     Iceland                Western Europe            7.504
3                 Switzerland                Western Europe            7.494
4                     Finland                Western Europe            7.469
..                        ...                           ...              ...
150                    Rwanda            Sub-Saharan Africa            3.471
151                     Syria  Middle East and North Africa            3.462
152                  Tanzania            Sub-Saharan Africa            3.349
153                   Burundi            Sub-Saharan Africa            2.905
154  Central African Republic            Sub-Saharan Africa            2.693

     gdp_per_capita  social_support  healthy_life_expectancy  \
0          1.616463        1.533524                 0.796667
1          1.482383        1.551122                 0.792566
2          1.480633        1.610574                 0.833552
3          1.564980        1.516912                 0.858131
4          1.443572        1.540247                 0.809158
..              ...             ...                      ...
150        0.368746        0.945707                 0.326425
151        0.777153        0.396103                 0.500533
152        0.511136        1.041990                 0.364509
153        0.091623        0.629794                 0.151611
154        0.000000        0.000000                 0.018773

     freedom_to_make_life_choices  generosity  perceptions_of_corruption  year
0                        0.635423    0.362012                   0.315964  2017
1                        0.626007    0.355280                   0.400770  2017
2                        0.627163    0.475540                   0.153527  2017
3                        0.620071    0.290549                   0.367007  2017
4                        0.617951    0.245483                   0.382612  2017
..                            ...         ...                        ...   ...
150                      0.581844    0.252756                   0.455220  2017
151                      0.081539    0.493664                   0.151347  2017
152                      0.390018    0.354256                   0.066035  2017
153                      0.059901    0.204435                   0.084148  2017
154                      0.270842    0.280876                   0.056565  2017

[155 rows x 10 columns]

                      country                        region  happiness_score  \
0                     Finland                Western Europe            7.632
1                      Norway                Western Europe            7.594
2                     Denmark                Western Europe            7.555
3                     Iceland                Western Europe            7.495
4                 Switzerland                Western Europe            7.487
..                        ...                           ...              ...
151                     Yemen  Middle East and North Africa            3.355
152                  Tanzania            Sub-Saharan Africa            3.303
153               South Sudan            Sub-Saharan Africa            3.254
154  Central African Republic            Sub-Saharan Africa            3.083
155                   Burundi            Sub-Saharan Africa            2.905

     gdp_per_capita  social_support  healthy_life_expectancy  \
0             1.305           1.592                    0.874
1             1.456           1.582                    0.861
2             1.351           1.590                    0.868
3             1.343           1.644                    0.914
4             1.420           1.549                    0.927
..              ...             ...                      ...
151           0.442           1.073                    0.343
152           0.455           0.991                    0.381
153           0.337           0.608                    0.177
154           0.024           0.000                    0.010
155           0.091           0.627                    0.145

     freedom_to_make_life_choices  generosity  perceptions_of_corruption  year
0                           0.681       0.202                      0.393  2018
1                           0.686       0.286                      0.340  2018
2                           0.683       0.284                      0.408  2018
3                           0.677       0.353                      0.138  2018
4                           0.660       0.256                      0.357  2018
..                            ...         ...                        ...   ...
151                         0.244       0.083                      0.064  2018
152                         0.481       0.270                      0.097  2018
153                         0.112       0.224                      0.106  2018
154                         0.305       0.218                      0.038  2018
155                         0.065       0.149                      0.076  2018

[156 rows x 10 columns]

                      country              region  happiness_score  \
0                     Finland      Western Europe            7.769
1                     Denmark      Western Europe            7.600
2                      Norway      Western Europe            7.554
3                     Iceland      Western Europe            7.494
4                 Netherlands      Western Europe            7.488
..                        ...                 ...              ...
151                    Rwanda  Sub-Saharan Africa            3.334
152                  Tanzania  Sub-Saharan Africa            3.231
153               Afghanistan          South Asia            3.203
154  Central African Republic  Sub-Saharan Africa            3.083
155               South Sudan  Sub-Saharan Africa            2.853

     gdp_per_capita  social_support  healthy_life_expectancy  \
0             1.340           1.587                    0.986
1             1.383           1.573                    0.996
2             1.488           1.582                    1.028
3             1.380           1.624                    1.026
4             1.396           1.522                    0.999
..              ...             ...                      ...
151           0.359           0.711                    0.614
152           0.476           0.885                    0.499
153           0.350           0.517                    0.361
154           0.026           0.000                    0.105
155           0.306           0.575                    0.295

     freedom_to_make_life_choices  generosity  perceptions_of_corruption  year
0                           0.596       0.153                      0.393  2019
1                           0.592       0.252                      0.410  2019
2                           0.603       0.271                      0.341  2019
3                           0.591       0.354                      0.118  2019
4                           0.557       0.322                      0.298  2019
..                            ...         ...                        ...   ...
151                         0.555       0.217                      0.411  2019
152                         0.417       0.276                      0.147  2019
153                         0.000       0.158                      0.025  2019
154                         0.225       0.235                      0.035  2019
155                         0.010       0.202                      0.091  2019

[156 rows x 10 columns]

                      country              region  happiness_score  \
0                     Finland      Western Europe           7.8087
1                     Denmark      Western Europe           7.6456
2                 Switzerland      Western Europe           7.5599
3                     Iceland      Western Europe           7.5045
4                      Norway      Western Europe           7.4880
..                        ...                 ...              ...
148  Central African Republic  Sub-Saharan Africa           3.4759
149                    Rwanda  Sub-Saharan Africa           3.3123
150                  Zimbabwe  Sub-Saharan Africa           3.2992
151               South Sudan  Sub-Saharan Africa           2.8166
152               Afghanistan          South Asia           2.5669

     gdp_per_capita  social_support  healthy_life_expectancy  \
0          1.285190        1.499526                 0.961271
1          1.326949        1.503449                 0.979333
2          1.390774        1.472403                 1.040533
3          1.326502        1.547567                 1.000843
4          1.424207        1.495173                 1.008072
..              ...             ...                      ...
148        0.041072        0.000000                 0.000000
149        0.343243        0.522876                 0.572383
150        0.425564        1.047835                 0.375038
151        0.289083        0.553279                 0.208809
152        0.300706        0.356434                 0.266052

     freedom_to_make_life_choices  generosity  perceptions_of_corruption  year
0                        0.662317    0.159670                   0.477857  2020
1                        0.665040    0.242793                   0.495260  2020
2                        0.628954    0.269056                   0.407946  2020
3                        0.661981    0.362330                   0.144541  2020
4                        0.670201    0.287985                   0.434101  2020
..                            ...         ...                        ...   ...
148                      0.292814    0.253513                   0.028265  2020
149                      0.604088    0.235705                   0.485542  2020
150                      0.377405    0.151349                   0.080929  2020
151                      0.065609    0.209935                   0.111157  2020
152                      0.000000    0.135235                   0.001226  2020

[153 rows x 10 columns]

         country              region  happiness_score  gdp_per_capita  \
0        Finland      Western Europe            7.842           1.446
1        Denmark      Western Europe            7.620           1.502
2    Switzerland      Western Europe            7.571           1.566
3        Iceland      Western Europe            7.554           1.482
4    Netherlands      Western Europe            7.464           1.501
..           ...                 ...              ...             ...
144      Lesotho  Sub-Saharan Africa            3.512           0.451
145     Botswana  Sub-Saharan Africa            3.467           1.099
146       Rwanda  Sub-Saharan Africa            3.415           0.364
147     Zimbabwe  Sub-Saharan Africa            3.145           0.457
148  Afghanistan          South Asia            2.523           0.370

     social_support  healthy_life_expectancy  freedom_to_make_life_choices  \
0             1.106                    0.741                         0.691
1             1.108                    0.763                         0.686
2             1.079                    0.816                         0.653
3             1.172                    0.772                         0.698
4             1.079                    0.753                         0.647
..              ...                      ...                           ...
144           0.731                    0.007                         0.405
145           0.724                    0.340                         0.539
146           0.202                    0.407                         0.627
147           0.649                    0.243                         0.359
148           0.000                    0.126                         0.000

     generosity  perceptions_of_corruption  year
0         0.124                      0.481  2021
1         0.208                      0.485  2021
2         0.204                      0.413  2021
3         0.293                      0.170  2021
4         0.302                      0.384  2021
..          ...                        ...   ...
144       0.103                      0.015  2021
145       0.027                      0.088  2021
146       0.227                      0.493  2021
147       0.157                      0.075  2021
148       0.122                      0.010  2021

[149 rows x 10 columns]

         country                        region  happiness_score  \
0        Finland                Western Europe            7.821
1        Denmark                Western Europe            7.636
2        Iceland                Western Europe            7.557
3    Switzerland                Western Europe            7.512
4    Netherlands                Western Europe            7.415
..           ...                           ...              ...
141     Botswana            Sub-Saharan Africa            3.471
142       Rwanda            Sub-Saharan Africa            3.268
143     Zimbabwe            Sub-Saharan Africa            2.995
144      Lebanon  Middle East and North Africa            2.955
145  Afghanistan                    South Asia            2.404

     gdp_per_capita  social_support  healthy_life_expectancy  \
0             1.892           1.258                    0.775
1             1.953           1.243                    0.777
2             1.936           1.320                    0.803
3             2.026           1.226                    0.822
4             1.945           1.206                    0.787
..              ...             ...                      ...
141           1.503           0.815                    0.280
142           0.785           0.133                    0.462
143           0.947           0.690                    0.270
144           1.392           0.498                    0.631
145           0.758           0.000                    0.289

     freedom_to_make_life_choices  generosity  perceptions_of_corruption  year
0                           0.736       0.109                      0.534  2022
1                           0.719       0.188                      0.532  2022
2                           0.718       0.270                      0.191  2022
3                           0.677       0.147                      0.461  2022
4                           0.651       0.271                      0.419  2022
..                            ...         ...                        ...   ...
141                         0.571       0.012                      0.102  2022
142                         0.621       0.187                      0.544  2022
143                         0.329       0.106                      0.105  2022

In [253]:
# Concatinating Dataframes
combined_df = pd.concat(df_list, ignore_index=True)
combined_df

,country,region,happiness_score,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption,year
0,Switzerland,Western Europe,7.587,1.39651,1.34951,0.94143,0.66557,0.29678,0.41978,2015
1,Iceland,Western Europe,7.561,1.30232,1.40223,0.94784,0.62877,0.43630,0.14145,2015
2,Denmark,Western Europe,7.527,1.32548,1.36058,0.87464,0.64938,0.34139,0.48357,2015
3,Norway,Western Europe,7.522,1.45900,1.33095,0.88521,0.66973,0.34699,0.36503,2015
4,Canada,North America and ANZ,7.427,1.32629,1.32261,0.90563,0.63297,0.45811,0.32957,2015
...,...,...,...,...,...,...,...,...,...,...
1362,Congo (Kinshasa),Sub-Saharan Africa,3.207,0.53100,0.78400,0.10500,0.37500,0.18300,0.06800,2023
1363,Zimbabwe,Sub-Saharan Africa,3.204,0.75800,0.88100,0.06900,0.36300,0.11200,0.11700,2023
1364,Sierra Leone,Sub-Saharan Africa,3.138,0.67000,0.54000,0.09200,0.37100,0.19300,0.05100,2023
1365,Lebanon,Middle East and North Africa,2.392,1.41700,0.47600,0.39800,0.12300,0.06100,0.02700,2023
1366,Afghanistan,South Asia,1.859,0.64500,0.00000,0.08700,0.00000,0.09300,0.05900,2023

In [254]:
# Exporting Concatinated Dataframe
combined_df.to_csv(os.path.join(path,'02 Data','Prepared Data','concatenated_data.csv'))

### Exploring Dataset

In [256]:
combined_df.head(30)

,country,region,happiness_score,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption,year
0,Switzerland,Western Europe,7.587,1.39651,1.34951,0.94143,0.66557,0.29678,0.41978,2015
1,Iceland,Western Europe,7.561,1.30232,1.40223,0.94784,0.62877,0.43630,0.14145,2015
2,Denmark,Western Europe,7.527,1.32548,1.36058,0.87464,0.64938,0.34139,0.48357,2015
3,Norway,Western Europe,7.522,1.45900,1.33095,0.88521,0.66973,0.34699,0.36503,2015
4,Canada,North America and ANZ,7.427,1.32629,1.32261,0.90563,0.63297,0.45811,0.32957,2015
5,Finland,Western Europe,7.406,1.29025,1.31826,0.88911,0.64169,0.23351,0.41372,2015
6,Netherlands,Western Europe,7.378,1.32944,1.28017,0.89284,0.61576,0.47610,0.31814,2015
7,Sweden,Western Europe,7.364,1.33171,1.28907,0.91087,0.65980,0.36262,0.43844,2015
8,New Zealand,North America and ANZ,7.286,1.25018,1.31967,0.90837,0.63938,0.47501,0.42922,2015
9,Australia,North America and ANZ,7.284,1.33358,1.30923,0.93156,0.65124,0.43562,0.35637,2015
10,Israel,Middle East and North Africa,7.278,1.22857,1.22393,0.91387,0.41319,0.33172,0.07785,2015
11,Costa Rica,Latin America and Caribbean,7.226,0.95578,1.23788,0.86027,0.63376,0.25497,0.10583,2015
12,Austria,Western Europe,7.200,1.33723,1.29704,0.89042,0.62433,0.33088,0.18676,2015
13,Mexico,Latin America and Caribbean,7.187,1.02054,0.91451,0.81444,0.48181,0.14074,0.21312,2015
14,United States,North America and ANZ,7.119,1.39451,1.24711,0.86179,0.54604,0.40105,0.15890,2015
15,Brazil,Latin America and Caribbean,6.983,0.98124,1.23287,0.69702,0.49049,0.14574,0.17521,2015
16,Luxembourg,Western Europe,6.946,1.56391,1.21963,0.91894,0.61583,0.28034,0.37798,2015
17,Ireland,Western Europe,6.940,1.33596,1.36948,0.89533,0.61777,0.45901,0.28703,2015
18,Belgium,Western Europe,6.937,1.30782,1.28566,0.89667,0.58450,0.22250,0.22540,2015
19,United Arab Emirates,Middle East and North Africa,6.901,1.42727,1.12575,0.80925,0.64157,0.26428,0.38583,2015
20,United Kingdom,Western Europe,6.867,1.26637,1.28548,0.90943,0.59625,0.51912,0.32067,2015
21,Oman,Middle East and North Africa,6.853,1.36011,1.08182,0.76276,0.63274,0.21542,0.32524,2015
22,Venezuela,Latin America and Caribbean,6.810,1.04424,1.25596,0.72052,0.42908,0.05841,0.11069,2015
23,Singapore,Southeast Asia,6.798,1.52186,1.02000,1.02525,0.54252,0.31105,0.49210,2015
24,Panama,Latin America and Caribbean,6.786,1.06353,1.19850,0.79661,0.54210,0.24434,0.09270,2015
25,Germany,Western Europe,6.750,1.32792,1.29937,0.89186,0.61477,0.28214,0.21843,2015
26,Chile,Latin America and Caribbean,6.670,1.10715,1.12447,0.85857,0.44132,0.33363,0.12869,2015
27,Qatar,Middle East and North Africa,6.611,1.69042,1.07860,0.79733,0.64040,0.32573,0.52208,2015
28,France,Western Europe,6.575,1.27778,1.26038,0.94579,0.55011,0.12332,0.20646,2015
29,Argentina,Latin America and Caribbean,6.574,1.05351,1.24823,0.78723,0.44974,0.11451,0.08484,2015

In [257]:
combined_df.shape

(1367, 10)

In [258]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1367 entries, 0 to 1366
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       1367 non-null   object
 1   region                        1367 non-null   object
 2   happiness_score               1367 non-null   float64
 3   gdp_per_capita                1367 non-null   float64
 4   social_support                1367 non-null   float64
 5   healthy_life_expectancy       1366 non-null   float64
 6   freedom_to_make_life_choices  1367 non-null   float64
 7   generosity                    1367 non-null   float64
 8   perceptions_of_corruption     1366 non-null   float64
 9   year                          1367 non-null   int64
dtypes: float64(7), int64(1), object(2)
memory usage: 106.9+ KB

In [259]:
combined_df.columns

Index(['country', 'region', 'happiness_score', 'gdp_per_capita',
       'social_support', 'healthy_life_expectancy',
       'freedom_to_make_life_choices', 'generosity',
       'perceptions_of_corruption', 'year'],
      dtype='object')

In [260]:
combined_df.dtypes

country                          object
region                           object
happiness_score                 float64
gdp_per_capita                  float64
social_support                  float64
healthy_life_expectancy         float64
freedom_to_make_life_choices    float64
generosity                      float64
perceptions_of_corruption       float64
year                              int64
dtype: object

In [261]:
combined_df.describe()

,happiness_score,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption,year
count,1367.000000,1367.000000,1367.000000,1366.000000,1367.000000,1367.000000,1366.000000,1367.000000
mean,5.441086,1.019422,1.045334,0.584043,0.450771,0.196260,0.132275,2018.903438
std,1.117909,0.453703,0.331163,0.245117,0.156733,0.113301,0.112555,2.561006
min,1.859000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2015.000000
25%,4.599500,0.696326,0.832022,0.402301,0.356000,0.115000,0.056826,2017.000000
50%,5.440000,1.043000,1.083000,0.612830,0.467610,0.182700,0.097000,2019.000000
75%,6.256300,1.338473,1.299985,0.777614,0.568685,0.252858,0.165945,2021.000000
max,7.842000,2.209000,1.644000,1.141000,0.772000,0.838075,0.587000,2023.000000

### Data Wrangling and Consistency Checks

In [263]:
combined_df['country'].value_counts()

country
Cyprus                    11
Switzerland                9
Hungary                    9
Albania                    9
Bosnia and Herzegovina     9
                          ..
Somaliland Region          1
Puerto Rico                1
Djibouti                   1
Oman                       1
Turkiye                    1
Name: count, Length: 171, dtype: int64

In [264]:
combined_df['region'].value_counts()

region
Sub-Saharan Africa                    337
Central and Eastern Europe            214
Latin America and Caribbean           190
Western Europe                        188
Middle East and North Africa          161
Southeast Asia                         80
South Asia                             61
East Asia                              54
Commonwealth of Independent States     44
North America and ANZ                  36
Africa                                  2
Name: count, dtype: int64

In [265]:
# Checking mixed type columns
for col in combined_df.columns.tolist():
  weird = (combined_df[[col]].map(type) != combined_df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (combined_df[weird]) > 0:
    print (col)

In [266]:
#Checking for missing values in columns
combined_df.isnull().sum()

country                         0
region                          0
happiness_score                 0
gdp_per_capita                  0
social_support                  0
healthy_life_expectancy         1
freedom_to_make_life_choices    0
generosity                      0
perceptions_of_corruption       1
year                            0
dtype: int64

In [267]:
# mean value of healthy_life_expectancy
hle_mean = combined_df['healthy_life_expectancy'].mean()
hle = round(hle_mean, 3)

In [268]:
# Imputing mean for missing values
combined_df['healthy_life_expectancy'].fillna(hle,inplace = True)

C:\Users\ankit\AppData\Local\Temp\ipykernel_20556\2712928994.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  combined_df['healthy_life_expectancy'].fillna(hle,inplace = True)

In [269]:
# mean value of perceptions_of_corruption
pc_mean = combined_df['perceptions_of_corruption'].mean()
pc = round(pc_mean, 3)

In [270]:
# Imputing mean for missing values
combined_df['perceptions_of_corruption'].fillna(pc,inplace = True)

C:\Users\ankit\AppData\Local\Temp\ipykernel_20556\610102226.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  combined_df['perceptions_of_corruption'].fillna(pc,inplace = True)

In [271]:
combined_df.isnull().sum()

country                         0
region                          0
happiness_score                 0
gdp_per_capita                  0
social_support                  0
healthy_life_expectancy         0
freedom_to_make_life_choices    0
generosity                      0
perceptions_of_corruption       0
year                            0
dtype: int64

In [272]:
#Checking duplicate entries
dups = combined_df[combined_df.duplicated()]
dups

Empty DataFrame
Columns: [country, region, happiness_score, gdp_per_capita, social_support, healthy_life_expectancy, freedom_to_make_life_choices, generosity, perceptions_of_corruption, year]
Index: []

In [273]:
#Exporting cleaned dataframe
combined_df.to_csv(os.path.join(path,'02 Data','Prepared Data','wh_clean.csv'))

#### All columns are important, hence not dropping any column
#### Missing values are imputed with mean values
#### No need to rename columns
#### No need to change datatype
#### No mixed datatype columns
#### No duplicates

In [301]:
combined_df

,country,region,happiness_score,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption,year
0,Switzerland,Western Europe,7.587,1.39651,1.34951,0.94143,0.66557,0.29678,0.41978,2015
1,Iceland,Western Europe,7.561,1.30232,1.40223,0.94784,0.62877,0.43630,0.14145,2015
2,Denmark,Western Europe,7.527,1.32548,1.36058,0.87464,0.64938,0.34139,0.48357,2015
3,Norway,Western Europe,7.522,1.45900,1.33095,0.88521,0.66973,0.34699,0.36503,2015
4,Canada,North America and ANZ,7.427,1.32629,1.32261,0.90563,0.63297,0.45811,0.32957,2015
...,...,...,...,...,...,...,...,...,...,...
1362,Congo (Kinshasa),Sub-Saharan Africa,3.207,0.53100,0.78400,0.10500,0.37500,0.18300,0.06800,2023
1363,Zimbabwe,Sub-Saharan Africa,3.204,0.75800,0.88100,0.06900,0.36300,0.11200,0.11700,2023
1364,Sierra Leone,Sub-Saharan Africa,3.138,0.67000,0.54000,0.09200,0.37100,0.19300,0.05100,2023
1365,Lebanon,Middle East and North Africa,2.392,1.41700,0.47600,0.39800,0.12300,0.06100,0.02700,2023
1366,Afghanistan,South Asia,1.859,0.64500,0.00000,0.08700,0.00000,0.09300,0.05900,2023